<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <title>List of Companies</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <div class="content">
      <h2>List Of Companies</h2>
      <a class="loginbtn" href="/companies/create">Add Company</a>
      <br />
      <br />
      <table border="1" class="tables">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Phone Number</th>
          <th>Address</th>
          <th>Action</th>
        </tr>
        <% for(let i = 0; i< data.length; i++){ %>
        <tr>
          <td><%=data[i].id %></td>
          <td><%=data[i].name %></td>
          <td><%=data[i].phone_number %></td>
          <td><%=data[i].address%></td>
          <td>
            <a href="/companies/update/<%=data[i].id %>">Update</a> |
            <a href="/companies/remove/<%=data[i].id %>">Delete</a>
          </td>
        </tr>
        <% } %>
      </table>
    </div>
  </body>
</html>
